@model IEnumerable<BookViewModel>

<div class="container">
    <h2 class="text-center py-4 title">Books</h2>
    @if (Model.Any())
    {
        <table class="table table-striped table-responsive-sm mb-3" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Synopsis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfPages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EditorialInfo)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Synopsis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EditorialInfo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-center">Data not found</h4>
    }
</div>

@{ await Html.RenderPartialAsync("_FooterPartial"); }