@model IEnumerable<MillionAndUp.Diego.ApplyTest.Domain.Entities.AuthorEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header-custom header-filter-custom" data-parallax="true">
</div>

<div class="container">
    <h1>
        Authors
    </h1>

    <p>
        <a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Back to Home</a>
        <a asp-action="Create" class="btn btn-outline-secondary"><i class="fa fa-plus"></i> Create New</a>
    </p>
    <table class="table table-striped table-responsive mb-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>